<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphs and Data Visualization</title>
</head>
        <!-- add link to page -->
        <a href="/charts">Charts</a>
        <br><br>
        <a href="/map">Map</a>
        <br><br>
        <a href="/ml">Machine Learning</a>
<body>
    <h1>Machine Learning</h1>
    <div id="graphs">
        <!-- Image tags for the static graphs -->
        <img src="{{ url_for('static', filename='Images/crime_by_hour.png') }}" alt="Graph 1 Description">
        <img src="{{ url_for('static', filename='Images/crime_victim_by_ethnicity.png') }}" alt="Graph 2 Description">
        <img src="{{ url_for('static', filename='Images/part_1_part_2.png') }}" alt="Graph 3 Description">
        <img src="{{ url_for('static', filename='Images/vehicle_theft_by_area.png') }}" alt="Graph 3 Description">
        <img src="{{ url_for('static', filename='Images/victim_age_distribution.png') }}" alt="Graph 3 Description">
        <img src="{{ url_for('static', filename='Images/victim_sex_percentile.png') }}" alt="Graph 3 Description">
    </div>
</body>
</html>
